* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --button-orange: #fa8314;
  --button-orange-hover: #fa9414;
  --button-blue: #2818d0;
  --button-blue-hover: #5819d1;
  --hammer-text: "Hammersmith One", sans-serif;
  --monserrat-text: "Montserrat", sans-serif;
  --raleway-text: "Raleway", sans-serif;
  --ash-text: #7e7e7a;
}

body {
  font-family: sans-serif;
  max-width: 1440px;
  padding: 2rem 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

.flow-blue {
  color: var(--button-blue);
}

.logo {
  font-family: var(--hammer-text);
  color: var(--button-orange);
}
.plane {
  margin-left: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.1rem;
  font-family: var(--raleway-text);
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 30px;
  text-decoration: none;
}
a {
  color: #000;
  text-decoration: none;
}
li:hover {
  font-weight: bold;
}

.login-btn {
  padding: 16px 37px;
  background-color: var(--button-orange);
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: var(--button-orange-hover);
  cursor: pointer;
}

/* hero */
.hero-body {
  max-width: 1440px;
  padding: 2rem 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

.hero-flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.or {
  color: var(--button-orange);
}

.btn-blue {
  background-color: var(--button-blue);
  padding: 1.2rem 5rem;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: var(--button-blue-hover);
}

.hero-title {
  font-size: 4rem;
  padding-top: 4rem;
  color: var(--ash-text);
}

.hero-text {
  font-size: 20px;
  margin: 25px 0;
  line-height: 30px;
}

.grid-div {
  display: flex;
  flex-wrap: wrap;
}

.feature-title {
  text-align: center;
  margin: 50px 0;
  color: var(--ash-text);
}

.fea-art {
  padding: 4rem 4rem;
}

.first-ti {
  font-size: 30px;
  margin: 60px 0;
  color: var(--button-blue-hover);
}

p {
  font-size: 20px;
  line-height: 30px;
}

.fea {
  max-width: 50ch;
}

/* Testimonials */

.box {
  width: 430px;
  height: 600px;
  border-radius: 20px;
  background-color: var(--button-blue);
  text-align: center;
  color: white;
  line-height: 30px;
  margin: 100px;
}

.grid-both {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-both p {
  margin: 40px;
}

.pfp {
  width: 220px;
  height: 200px;
}

/* About */

.about-grid {
  display: flex;
  flex-wrap: wrap;
}

.ora {
  color: var(--button-blue);
}

.flow {
  font-size: 90px;
}
h3 {
  margin-bottom: 5px;
}
.what {
  padding: 10rem 6rem;
  color: var(--button-orange);
}

.side-box {
  width: 600px;
  height: 190px;
  margin: 70px 0;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--button-orange);
  color: white;
}

.in {
  width: 600px;
  height: 190px;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--button-orange);
  color: white;
}

.about-text {
  font-size: 17px;
}

/*CTA*/
.last-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.cta-form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 10rem 0;
}

.cta-input {
  padding: 15px 8px;
  margin: 20px 0;
}
.sub {
  background-color: var(--button-blue);
  padding: 16px 37px;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.sub:hover {
  background-color: var(--button-blue-hover);
  padding: 16px 37px;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: var(--button-orange);
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  text-align: center;
  padding: 4rem 0;
}

ul {
  justify-content: center;
  margin: 12px;
}

/* Log In */

.log {
  display: flex;
  flex-direction: column;
}

.to-home {
  width: 200px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-orange);
  color: white;
}

label {
  font-weight: 500;
}

.log-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.login-input {
  width: 300px;
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid;
  border-radius: 10px;
}

.login-box {
  width: 500px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.login-box {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnn {
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-blue);
  color: white;
}

.btnn:hover {
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-blue-hover);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.log-text {
  margin-top: 30px;
  font-size: 17px;
}

.under {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.under:hover {
  font-weight: bold;
}

.back {
  width: 470px;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  .back {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-text {
    font-size: 15px;
  }
  img {
    width: 400px;
  }
  .first-ti {
    font-size: 1.5rem;
  }
  .fea {
    font-size: 1rem;
  }
  .about-grid {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 16px;
  }
  .hero-title {
    font-size: 30px;
  }
  .hero-text {
    font-size: 13px;
  }
  img {
    width: 260px;
    height: 350px;
  }
  .first-ti {
    font-size: 1.3rem;
  }
  .fea {
    font-size: 0.8rem;
  }
  .about-grid {
    justify-content: center;
  }
  .call {
    font-size: 1.4rem;
  }
  .first-ti {
    margin-bottom: 10px;
  }
  .imgg {
    margin-top: 80px;
  }
  .feature-title {
    font-size: 2rem;
    margin: 10px 0px;
  }
  .to {
    font-size: 1rem;
    width: 45ch;
  }
  .call-img {
    display: flex;
    align-self: center;
  }
}

/* Landing */

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.list-pad {
  list-style: none;
  padding: 0 6rem;
}
li:hover {
  font-weight: bold;
}

.box-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
}

.box-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.school-logo {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.boxes {
  width: 23rem;
  height: 9rem;
  margin: 0 30px;
  border-radius: 10px;
  background-color: var(--button-orange-hover);
  border: none;
  display: flex;
}

.icon-box {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}
.box-text {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 30px;
}

.home-icon {
  width: 50px;
  height: 30px;
}

.analytics {
  width: 950px;
  height: 330px;
  background-color: #fd8d14;
  border: none;
  border-radius: 20px;
  margin-top: 5rem;
}

.box-text h1 {
  padding: 1rem 3rem;
}

.coarse-count {
  display: flex;
  padding: 3rem 5rem;
}

.coarse-box {
  margin: 10px;
  width: 210px;
  height: 150px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.coarse-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header {
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}

span p {
  font-size: 19px;
  text-align: center;
}

span h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.profile {
  padding: 15px 20px;
  background-color: #2818d0;
  color: #f5f5f5;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.profile:hover {
  background-color: #5819d1;
}

span h3 {
  color: black;
}

span p {
  color: black;
}

span h1 {
  color: black;
}

/* Cards */
.cards {
  width: 300px;
  height: 520px;
  background-color: var(--ash-text);
  border: none;
  border-radius: 20px;
}
.profile-btn {
  padding: 0.6rem 6.2rem;
  border-radius: 5px;
  border: none;
}

.stu-btn {
  background-color: var(--button-orange);
  padding: 13px 37px;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card-pfp {
  width: 200px;
}

.card-info {
  padding: 0 2rem;
}

.card-info h1 {
  padding: 0.9rem 0;
}

.img-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* new student*/
.btns {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.credentials {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid;
  width: 400px;
}

.btn-1 {
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  color: #f5f5f5;
  font-weight: bold;
  background-color: var(--button-blue);
}
.btn-1:hover {
  background-color: var(--button-blue-hover);
}

#home-link {
  background-color: var(--button-orange);
}

#home-link:hover {
  background-color: var(--button-orange-hover);
}

.form-det {
  margin-top: 1rem;
}

.pro {
  width: 500px;
}

.flex-both {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
