* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --button-orange: #fa8314;
  --button-orange-hover: #fa9414;
  --button-blue: #2818d0;
  --button-blue-hover: #5819d1;
  --hammer-text: "Hammersmith One", sans-serif;
  --monserrat-text: "Montserrat", sans-serif;
  --raleway-text: "Raleway", sans-serif;
  --ash-text: #7e7e7a;
}

span {
  color: var(--button-blue);
}

.logo {
  font-family: var(--hammer-text);
  color: var(--button-orange);
}
.plane {
  margin-left: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.1rem;
  font-family: var(--raleway-text);
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 30px;
}

li:hover {
  font-weight: bold;
}

button {
  padding: 16px 37px;
  background-color: var(--button-orange);
  border: none;
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: var(--button-orange-hover);
  font-weight: bold;
}

/* hero */
body {
  max-width: 1440px;
  padding: 2rem 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
}
main {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
}

.or {
  color: var(--button-orange);
}

.btn-blue {
  background-color: var(--button-blue);
  padding: 1.2rem 5rem;
}

.btn-blue:hover {
  background-color: var(--button-blue-hover);
}

.hero-title {
  font-size: 4rem;
  padding-top: 4rem;
  color: var(--ash-text);
}

.hero-text {
  font-size: 20px;
  margin: 25px 0;
  line-height: 30px;
}

/* .social-proof {
  width: 1376px;
  height: 127px;
  opacity: 70%;
  display: none;
} */

/* features */

.grid-div {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
}

.feature-title {
  text-align: center;
  margin: 50px 0;
  color: var(--ash-text);
}

article {
  padding: 4rem 4rem;
}

.first-ti {
  font-size: 30px;
  margin: 60px 0;
  color: var(--button-blue-hover);
}

p {
  font-size: 20px;
  line-height: 30px;
}

.fea {
  max-width: 50ch;
}

/* Testimonials */

.box {
  width: 430px;
  height: 600px;
  border-radius: 20px;
  background-color: var(--button-blue);
  text-align: center;
  color: white;
  line-height: 30px;
  margin: 100px;
}

.grid-both {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-both p {
  margin: 40px;
}

.pfp {
  width: 220px;
  height: 200px;
}

/* About */

.about-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
}

.ora {
  color: var(--button-orange);
}

.flow {
  font-size: 90px;
}
h3 {
  margin-bottom: 5px;
}
.what {
  padding: 10rem 6rem;
}

.side-box {
  width: 600px;
  height: 190px;
  margin: 70px 0;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--button-orange);
  color: white;
}

.in {
  width: 600px;
  height: 190px;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--button-orange);
  color: white;
}

.about-text {
  font-size: 17px;
}

/*CTA*/
.last-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px; */
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 10rem 0;
}

input {
  padding: 15px 8px;
  margin: 20px 0;
}
.sub {
  background-color: var(--button-blue);
}

/* Footer */

footer {
  background-color: var(--button-orange);
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  text-align: center;
  padding: 4rem 0;
}

ul {
  justify-content: center;
  margin: 12px;
}

/* Log In */

.log {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: 500;
}

.log-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

input {
  width: 300px;
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid;
  border-radius: 10px;
}

.box {
  width: 500px;
  height: 500px;
  border-radius: 10px 10px 10px 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnn {
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: #2818d0;
  color: white;
}

.btnn:hover {
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: #fa8314;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.log-text {
  margin-top: 30px;
}

.under {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.under:hover {
  font-weight: bold;
}

.back {
  width: 470px;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  .back {
    display: none;
  }
}
