* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --button-orange: #fa8314;
  --button-orange-hover: #fa9414;
  --button-blue: #2818d0;
  --button-blue-hover: #5819d1;
  --hammer-text: "Hammersmith One", sans-serif;
  --monserrat-text: "Montserrat", sans-serif;
  --raleway-text: "Raleway", sans-serif;
}

span {
  color: var(--button-blue);
}

.logo {
  font-family: var(--hammer-text);
  color: var(--button-orange);
}
.plane {
  margin-left: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 2rem 0.1rem;
  font-family: var(--raleway-text);
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 30px;
}

li:hover {
  font-weight: bold;
}

button {
  padding: 16px 37px;
  background-color: var(--button-orange);
  border: none;
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: var(--button-orange-hover);
  font-weight: bold;
}

/* hero */
body {
  max-width: 1440px;
  padding: 2rem 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.or {
  color: var(--button-orange);
}

.btn-blue {
  background-color: var(--button-blue);
  padding: 1.2rem 5rem;
}

.btn-blue:hover {
  background-color: var(--button-blue-hover);
}

.hero-title {
  font-size: 4rem;
  padding-top: 4rem;
}

.hero-text {
  font-size: 20px;
  margin: 25px 0;
  line-height: 30px;
}

.social-proof {
  width: 1376px;
  height: 127px;
  opacity: 70%;
}

/* features */

.grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-title {
  text-align: center;
}
